# Игнорируем тяжелые данные (датасеты)
data/raw/
data/processed/

# Игнорируем веса моделей
*.pt
*.pth
*.weights

# Игнорируем кэш Python и настройки PyCharm
__pycache__/
.idea/
.DS_Store

# Игнорируем временные логи (потом добавим только нужные графики в отчет)
runs/